<h1>Welcome <%= @user.name %></h1>
<p><%= @user.email %></p>
<br />

<h3><%= @user.name %>'s Plants</h3>
<table>
<% @user.plants.each do |plant| %>
  <tr>
    <td><%= link_to plant.commonname, plant %></td>
    <td><%= link_to 'Edit', edit_plant_path(plant) %></td>
    <td><%= link_to 'Destroy', plant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to "Add New Plant", new_user_plant_path(@user) %>